<!DOCTYPE html>
<html ng-app="cleanAirApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>爱清新</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/holder.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/products.js"></script>
  </head>
  <body ng-controller="suggestCtrl">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="nav.html">咨询首页</a></li>
        <li class="active">获得推荐</li>
      </ol>
      <div ng-show="mode == 'form'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>您打算放置空气净化器的房间面积及高度</h4>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">面积</span>
              <input type="number" class="form-control" ng-model="area">
              <span class="input-group-addon">平米</span>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon">高度</span>
              <input type="number" class="form-control" ng-model="height">
              <span class="input-group-addon">米 &nbsp;&nbsp;&nbsp;</span>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>您期望房间内空气达到的净化级别</h4>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" ng-click="setCycles(5)" ng-class="cycles == 5 ? 'active' : ''" class="list-group-item"><b>“优秀”</b> - 洁净空气的换气量为5次/小时</a>
              <a href="#" ng-click="setCycles(4)" ng-class="cycles == 4 ? 'active' : ''" class="list-group-item"><b>“良好”</b> - 洁净空气的换气量为4次/小时</a>
              <a href="#" ng-click="setCycles(3)" ng-class="cycles == 3 ? 'active' : ''" class="list-group-item"><b>“一般”</b> - 洁净空气的换气量为3次/小时</a>
            </div>
          </div>
        </div>
        <p><a href="#" class="btn btn-success btn-block" role="button" ng-click="search()">推荐一下</a></p>
      </div>
      <div ng-show="mode == 'results'">
        <div class="alert alert-success" role="alert">
          在面积<b>{{area}}</b>平米，高度<b>{{height}}</b>米的房间，可以达到<b>{{cyclesLevel()}}</b>净化效果的空气净化器产品如下
        </div>


        <div class="row">

          <div class="col-sm-6 col-md-4" ng-repeat="product in products">
            <div class="thumbnail">
              <a target="_blank" href="product.html?id={{product.id}}">
                <img data-src="holder.js/100%x200" alt="100%x200">
              </a>
              <div class="caption">
                <h5>
                  <a target="_blank" href="product.html?id={{product.id}}">{{product.brand}} {{product.model}}</a>
                </h5>
                <b>CADR</b>: {{product.cadr_dust}} m³/h
                <b>产地</b>: {{product.made_in}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
