<div class="alert alert-success" role="alert">
  在面积 <b>{{areaRangeText()}}</b> 平米，高度 <b>{{heightRangeText()}}</b> 米的房间，可以达到 <b>{{ratingText(avgCycle())}}</b> 净化效果的空气净化器产品如下（以下结果按照CADR值从大到小排序）
</div>

<div id="products" class="row">
  <div ng-hide="products" class="loading"><i class="fa fa-cog fa-spin fa-2x"></i></div>
  <div ng-show="products" class="col-sm-6 col-md-4" ng-repeat="product in products">
    <div class="thumbnail">
      <a href="#/products/{{product.hash_id}}/detail">
        <img class="product-image media-object img-rounded" ng-src="{{product.image_url}}">
      </a>
      <div class="caption">
        <div class="product-title"><a href="#/products/{{product.hash_id}}/detail">{{product.brand}} {{product.model}}</a></div>
        <div><strong>CADR</strong>: {{product.cadr_dust}} m³/h <strong>产地</strong>: {{product.made_in ? product.made_in : '中国'}}</div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <a href="#/recommend" class="btn btn-success btn-block" role="button">重新选择进行推荐</a>
</div>

