<ol class="breadcrumb">
  <li><a href="#/nav">爱清新</a></li>
  <li class="active">{{navTitle('产品详情')}}</li>
</ol>
<div class="row">
  <div ng-hide="product" class="loading"><i class="fa fa-cog fa-spin fa-2x"></i></div>
  <div ng-show="product" class="col-sm-12 product-content">
    <div id="product-image">
      <img src="{{product.image_url}}">
    </div>
    <div class="jumbotron">
      本产品由 <strong>{{product.brand}}</strong> 公司在 <strong>{{product.made_in}}</strong> 生产。 <strong>{{product.brand}}</strong> 是一家专业空气净化厂商。本产品采用{物理过滤}的净化技术，CADR值为 <strong>{{product.cadr_dust}}</strong> m³/h（{{ahamText()}}）。
    </div>
    <div class="list-group">
      <a ng-show="product.reviews_link" href="{{product.reviews_link}}" class="list-group-item">看看大家的评论</a>
      <a ng-show="product.etao_link" href="{{product.etao_link}}" class="list-group-item">如果您决定购买，看看那里买最便宜</a>
    </div>
  </div>
</div>
