<ol class="breadcrumb">
  <li><a href="#/nav">爱清新</a></li>
  <li class="active">{{navTitle('产品详情')}}</li>
</ol>

<div class="row">
  <div ng-hide="product" class="loading"><i class="fa fa-cog fa-spin fa-2x"></i></div>
  <div ng-show="product" class="col-sm-12 product-content">
    <div id="product-image">
      <img class="img-thumbnail" ng-src="{{product.image_url}}">
    </div>
    <div class="jumbotron">
      本产品由 <strong>{{product.brand}}</strong> 公司在 <strong>{{product.made_in ? product.made_in : '中国'}}</strong> 生产。 
      <strong>{{product.brand}}</strong> 是一家<strong>{{MfrTypeText(product.is_pro_mfr)}}</strong>。
      <span ng-show="product.filter_type">本产品的空气净化方式为 <strong>{{product.filter_type}}</strong>。</span>
      <span ng-show="product.cadr_dust">CADR值为 <strong>{{product.cadr_dust}}</strong> m³/h（{{ahamText()}}）。</span>
    </div>
    <div class="list-group">
      <a ng-show="product.reviews_link" ng-click="open(product.reviews_link)" class="list-group-item">看看大家的评论</a>
      <a ng-show="product.etao_link" ng-click="open(product.etao_link)" class="list-group-item">我想买一台，哪最便宜</a>
    </div>
  </div>
</div>
