<ol id="recommend" class="breadcrumb">
  <li><a href="#/nav">爱清新</a></li>
  <li class="active">求推荐</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>您打算将空气净化器放在面积多大的房间？<small>房间面积 = 长 x 宽</small></h4>
  </div>
  <div class="panel-body">
    <a class="tag-btn btn {{classOfAreaButton(area)}}" ng-click="selectArea(area)" ng-repeat="area in listOfRoomArea">{{area.label}} m²</a>
  </div>
</div>

<div class="list-group">
  <a class="list-group-item list-header"><h4>房间的高度是多少？</h4></a>
  <a class="list-group-item {{classOfHeightItem(height)}}" ng-click="selectHeight(height)" ng-repeat="height in listOfRoomHeight">{{height.label}}
    <i ng-show="height.value == params.height" class="pull-right fa fa-check"></i></a>
</div>

<div class="list-group">
  <a class="list-group-item list-header"><h4>您期望达到的空气净化效果？<small>房间每小时洁净空气的换气次数</small></h4></a>
  <a class="list-group-item {{classOfCycleItem(cycle)}}" ng-click="selectCycle(cycle)" ng-repeat="cycle in listOfCycle">{{cycle.label}}
    <i ng-show="cycle.value == params.cycle" class="pull-right fa fa-check"></i></a>
</div>

<div class="alert alert-warning">
  <h4>小清新提示：</h4>
  <p>同一款空气净化器放在不同大小的房间里，空气净化效率会不同。参照国际标准可以将空气的净化效果分为五个级别：</p>
  <ul>
    <li>良好- 优先推荐，在保证房间净化效果的前提下，性价比最优，可去除80%的污染物。</li>
    <li>优秀- 净化效果好，性价比可接受。经济条件很好的客户可选择。</li>
    <li>一般- 房间净化效果较低。预算较紧张的客户可选择。</li>
    <li>过度- 宁要最贵的，不要最适的。土豪级客户可选择。</li>
    <li>心理安慰 - 不建议购买。雾霾时基本无净化效果。</li>
  </ul>
</div>

<div>
  <a ng-click="navToProducts(params.cycle)" class="btn btn-success btn-block" role="button">开始推荐</a>
</div>
