<ol class="breadcrumb">
  <li><a href="#/nav">爱清新</a></li>
  <li class="active">{{pageTitle()}}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{label.model}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <select class="form-control" ng-model="params.brand" ng-options=
          "brand as brand for brand in brands" ng-change="filterModels()">
        </select>
      </div>
      <div class="col-md-6">
        <select class="form-control" ng-model="params.productId" ng-options=
          "model.hash_id as model.model for model in models">
        </select>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{label.area}}</h4>
  </div>
  <div class="panel-body">
    <a class="tag-btn btn {{classOfAreaButton(area)}}" ng-click="selectArea(area)" ng-repeat="area in listOfRoomArea">{{area.label}} m²</a>
  </div>
</div>

<div class="list-group">
  <a class="list-group-item list-header"><h4>{{label.height}}</h4></a>
  <a class="list-group-item {{classOfHeightItem(height)}}" ng-click="selectHeight(height)" ng-repeat="height in listOfRoomHeight">{{height.label}}
    <i ng-show="height.value == params.height" class="pull-right fa fa-check"></i></a>
</div>

<div class="alert alert-warning">
  <h4>小清新提示：</h4>
  <p>
    <ol>
      <li>忘掉网上和厂家宣传的适用面积，按照国际标准绝大多数空气净化器的适用面积都夸大2倍以上。</li>
      <li>不标明<strong>CADR*</strong>的净化器厂家就是耍流氓，坚决不推荐。</li>
      <li>房间的净化效果是你的鼻子感觉不出来的，需要用专业仪器测量。所以口碑和客户评价更多的是操控和体验，而不是真正的净化效果。</li>
      <li>小清新不是权威，不保证准确，但是可以保证我们不收取任何厂家的费用只代表消费者的利益。</li>
    </ol>
  </p>
  <p>
  * <small><strong>CADR</strong> (洁净空气输出比率) 是美国家电制造商协会（AHAM）按照严格的测试标准进行测试得出的空气净化器输出洁净空气的比率。CADR数值越高，则表示净化器的净化效能越高。</small>
  </p>

</div>

<p><a href="#/products/{{params.productId}}/review" class="btn btn-success btn-block" role="button">{{label.submit}}</a></p>
